<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.23.1" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.164" targetFramework="net45" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net40" />
  <package id="ZKemkeeper" version="1.0.2" targetFramework="net45" />
</packages>