USE [eifa_kalyan]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 3/11/2019 9:42:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[ATTD_ID] [int] NULL,
	[ATTD_DATE] [datetime] NOT NULL,
	[ATTD_ADMISSION_NO] [int] NOT NULL,
	[ATTD_IN_TIME] [datetime] NULL,
	[ATTD_OUT_TIME] [datetime] NULL,
	[ATTD_STATUS] [varchar](50) NULL,
	[ATTD_IS_HOLIDAY] [varchar](50) NULL,
	[ATTD_BRANCH_ID] [int] NOT NULL,
	[ATTD_CHECKIN_STATUS] [int] NULL,
	[ATTD_REMARK] [varchar](500) NULL,
	[ATTD_CRTD_AT] [datetime] NULL,
	[ATTD_UPDT_AT] [datetime] NULL,
	[ATTD_DLTD_AT] [datetime] NULL,
	[ATTD_CRTD_BY] [varchar](50) NULL,
	[ATTD_UPDAT_BY] [varchar](50) NULL,
	[ATD_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ATTD_LECTURE_ID] [int] NULL,
	[ATTD_BIOMETRIC_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDANCE_LECTURE]    Script Date: 3/11/2019 9:42:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE_LECTURE](
	[ATLC_ID] [int] NULL,
	[ATLC_DATE] [date] NOT NULL,
	[ATLC_ADMISSION_NO] [int] NOT NULL,
	[ATLC_STATUS] [varchar](50) NOT NULL,
	[ATLC_BRANCH_ID] [int] NOT NULL,
	[ATLC_CRTD_AT] [datetime] NULL,
	[ATLC_UPDT_AT] [datetime] NULL,
	[ATLC_DLTD_AT] [datetime] NULL,
	[ATLC_CRTD_BY] [varchar](50) NULL,
	[ATLC_UPDAT_BY] [varchar](50) NULL,
	[ATLC_DLTD_BY] [varchar](50) NULL,
	[ATLC_LECTURE_ID] [int] NOT NULL,
	[ATLC_REMARK] [varchar](500) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ATLC_IS_SMS_SEND] [bit] NULL,
	[ATLC_IS_SCHEDULED] [bit] NULL,
	[ATLC_COUNT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDENCE_LOG]    Script Date: 3/11/2019 9:42:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDENCE_LOG](
	[ATL_ID] [int] NULL,
	[ATL_USER_ID] [int] NOT NULL,
	[ATL_CHECKIN_TIME] [datetime] NOT NULL,
	[ATL_DEVICE_ID] [nvarchar](50) NULL,
	[ATL_BRANCH_ID] [int] NOT NULL,
	[ATL_DATE_IMPORTED] [datetime] NULL,
	[ATL_CRTD_AT] [datetime] NULL,
	[ATL_UPDT_AT] [datetime] NULL,
	[ATL_DLTD_AT] [datetime] NULL,
	[ATL_CRTD_BY] [varchar](50) NULL,
	[ATL_UPDAT_BY] [varchar](50) NULL,
	[ATL_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACKUP_TABLE]    Script Date: 3/11/2019 9:42:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACKUP_TABLE](
	[TBL_ID] [int] NULL,
	[TBL_NAME] [varchar](50) NULL,
	[TBL_BRANCH_COLUMN] [varchar](50) NULL,
	[TBL_ENABLE_BACKUP] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BATCH]    Script Date: 3/11/2019 9:42:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH](
	[BTCH_Id] [int] NULL,
	[BTCH_NAME] [varchar](500) NOT NULL,
	[BTCH_ROLLNO_SEQ] [int] NULL,
	[BTCH_STANDARD_ID] [int] NULL,
	[BTCH_DESCRIPTION] [nvarchar](500) NULL,
	[BTCH_START_DATE] [date] NULL,
	[BTCH_LOCATION] [varchar](50) NULL,
	[BTCH_FROM_TIME] [time](7) NULL,
	[BTCH_TO_TIME] [time](7) NULL,
	[BTCH_BRANCH_ID] [int] NOT NULL,
	[BTCH_CRTD_AT] [datetime] NULL,
	[BTCH_UPDT_AT] [datetime] NULL,
	[BTCH_DLTD_AT] [datetime] NULL,
	[BTCH_CRTD_BY] [varchar](50) NULL,
	[BTCH_UPDAT_BY] [varchar](50) NULL,
	[BTCH_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BTCH_MIN_PERCENT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BIOMERIC_MAPPING]    Script Date: 3/11/2019 9:42:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIOMERIC_MAPPING](
	[BIOM_ID] [int] NULL,
	[BIOM_ADMISSION_NO] [int] NOT NULL,
	[BIOM_BIOMETRIC_ID] [int] NOT NULL,
	[BIOM_BRANCH_ID] [int] NOT NULL,
	[BIOM_IS_NEW] [bit] NULL,
	[BIOM_CRTD_AT] [datetime] NULL,
	[BIOM_UPDT_AT] [datetime] NULL,
	[BIOM_DLTD_AT] [datetime] NULL,
	[BIOM_CRTD_BY] [varchar](50) NULL,
	[BIOM_UPDAT_BY] [varchar](50) NULL,
	[BIOM_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANCH_MASTER]    Script Date: 3/11/2019 9:42:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH_MASTER](
	[BRCH_ID] [int] IDENTITY(101,1) NOT NULL,
	[BRCH_NAME] [varchar](50) NOT NULL,
	[BRCH_ADDRESS] [varchar](50) NULL,
	[BRCH_HEAD] [varchar](50) NULL,
	[BRCH_IS_CURRENT] [varchar](50) NULL,
	[BRCH_CRTD_AT] [datetime] NULL,
	[BRCH_UPDT_AT] [datetime] NULL,
	[BRCH_DLTD_AT] [datetime] NULL,
	[BRCH_CRTD_BY] [varchar](50) NULL,
	[BRCH_UPDAT_BY] [varchar](50) NULL,
	[BRCH_DLTD_BY] [varchar](50) NULL,
	[CONTACT_NO] [varchar](max) NULL,
	[ADDRESS] [varchar](max) NULL,
	[MAIN_FORM_IMAGE] [varchar](max) NULL,
	[RECEIPT_COUNT] [varchar](max) NULL,
	[SUB_NAME] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[ADMISSION_COUNT] [int] NULL,
	[BRCH_CLASS_NAME] [varchar](max) NULL,
	[BRCH_LOGO_PATH] [varchar](400) NULL,
	[BRCH_INVOICE_NO] [int] NULL,
	[NOTIFICATION_SENT_DATE] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHEQUE_DETAILS]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHEQUE_DETAILS](
	[CHQ_ID] [int] NULL,
	[CHQ_NO] [varchar](50) NULL,
	[CHQ_DATE] [date] NULL,
	[CHQ_BOUNCE_CHARGES] [decimal](18, 2) NULL,
	[CHQ_BANK_NAME] [varchar](50) NULL,
	[CHQ_BANK_BRANCH] [varchar](50) NULL,
	[CHQ_AMOUNT] [decimal](18, 2) NULL,
	[CHQ_STATUS] [varchar](10) NULL,
	[CHQ_CRTD_AT] [datetime] NULL,
	[CHQ_CRTD_BY] [varchar](50) NULL,
	[CHQ_UPDT_BY] [varchar](50) NULL,
	[CHQ_UPDT_AT] [datetime] NULL,
	[CHQ_DLTD_AT] [datetime] NULL,
	[CHQ_TRANC_ID] [int] NULL,
	[CHQ_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHQ_BRANCH_ID] [int] NOT NULL,
	[CHQ_DPST_ACCNT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLLEGE]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLEGE](
	[CLG_ID] [int] NULL,
	[CLG_NAME] [varchar](400) NULL,
	[CLG_STANDARDS] [varchar](400) NULL,
	[CLG_BRANCH_ID] [int] NOT NULL,
	[CLG_CRTD_AT] [datetime] NULL,
	[CLG_UPDT_AT] [datetime] NULL,
	[CLG_DLTD_AT] [datetime] NULL,
	[CLG_CRTD_BY] [varchar](50) NULL,
	[CLG_UPDAT_BY] [varchar](50) NULL,
	[CLG_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENQUIRY]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENQUIRY](
	[ENQ_ID] [int] NULL,
	[ENQ_FNAME] [varchar](50) NULL,
	[ENQ_MNAME] [varchar](50) NULL,
	[ENQ_LNAME] [varchar](50) NULL,
	[ENQ_ADDRESS] [varchar](100) NULL,
	[ENQ_CONTACT_NO] [varchar](50) NULL,
	[ENQ_STANDARD_ID] [int] NULL,
	[ENQ_COLLEGE_NAME] [varchar](500) NULL,
	[ENQ_LAST_YEAR_MARKS] [float] NULL,
	[ENQ_DATE] [date] NULL,
	[ENQ_EMAIL] [varchar](50) NULL,
	[ENQ_REFERER] [varchar](50) NULL,
	[ENQ_IS_REGISTERED] [bit] NULL,
	[ENQ_BRANCH_ID] [int] NOT NULL,
	[ENQ_LAST_FOLLOWUP] [int] NULL,
	[ENQ_DOB] [date] NULL,
	[ENQ_PARENT_CONTACT] [varchar](20) NULL,
	[ENQ_FIELD] [varchar](30) NULL,
	[ENQ_FEES_DISCUSSED] [varchar](500) NULL,
	[ENQ_SUBJECTS] [varchar](max) NULL,
	[ENQ_STATUS] [varchar](50) NULL,
	[ENQ_CRTD_AT] [datetime] NULL,
	[ENQ_UPDT_AT] [datetime] NULL,
	[ENQ_DLTD_AT] [datetime] NULL,
	[ENQ_CRTD_BY] [varchar](50) NULL,
	[ENQ_UPDAT_BY] [varchar](50) NULL,
	[ENQ_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ENQ_COUNSELOR] [varchar](500) NULL,
	[ENQ_QUALIFICATION] [varchar](50) NULL,
	[ENQ_BATCH_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERROR_LOG]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERROR_LOG](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[ERROR_NUMBER] [int] NULL,
	[ERROR_MESSAGE] [nvarchar](max) NULL,
	[ERROR_SEVERITY] [int] NULL,
	[ERROR_STATE] [int] NULL,
	[ERROR_LINE] [int] NULL,
	[ERROR_PROCEDURE] [nvarchar](max) NULL,
	[CreatedDT] [datetime] NULL,
	[ERR_CRTD_AT] [datetime] NULL,
	[ERR_UPDT_AT] [datetime] NULL,
	[ERR_DLTD_AT] [datetime] NULL,
	[ERR_CRTD_BY] [varchar](50) NULL,
	[ERR_UPDAT_BY] [varchar](50) NULL,
	[ERR_DLTD_BY] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPENSE_MASTER]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSE_MASTER](
	[EXPM_ID] [int] NULL,
	[EXPM_DESCRIPTION] [nvarchar](500) NOT NULL,
	[EXPM_IS_DIRECT] [bit] NOT NULL,
	[EXPM_IS_EXPENSE] [bit] NOT NULL,
	[EXPM_BRANCH_ID] [int] NOT NULL,
	[EXPM_CRTD_AT] [datetime] NULL,
	[EXPM_UPDT_AT] [datetime] NULL,
	[EXPM_DLTD_AT] [datetime] NULL,
	[EXPM_CRTD_BY] [varchar](50) NULL,
	[EXPM_UPDAT_BY] [varchar](50) NULL,
	[EXPM_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACULTY]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTY](
	[FCLT_ID] [int] NULL,
	[FCLT_NAME] [varchar](50) NULL,
	[FCLT_CONTACT_NO] [varchar](50) NULL,
	[FCLT_EMAIL_ID] [varchar](50) NULL,
	[FCLT_ADDRESS] [varchar](5000) NULL,
	[FCLT_SPECIALIZATION] [varchar](50) NULL,
	[FCLT_BRANCH_ID] [int] NOT NULL,
	[FCLT_BIOMETRIC_ID] [int] NULL,
	[FCLT_DOB] [date] NULL,
	[FCLT_CRTD_AT] [datetime] NULL,
	[FCLT_UPDT_AT] [datetime] NULL,
	[FCLT_DLTD_AT] [datetime] NULL,
	[FCLT_CRTD_BY] [varchar](50) NULL,
	[FCLT_UPDAT_BY] [varchar](50) NULL,
	[FCLT_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FCLT_LGN_REGD_ID] [int] NULL,
	[FCLT_ADHARCARD_NO] [varchar](500) NULL,
	[FCLT_RESUME] [varchar](500) NULL,
	[FCLT_QUALIFICATION] [varchar](500) NULL,
	[FCLT_PHOTO_PATH] [varchar](max) NULL,
	[FCLT_PANCARD_NO] [varchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEE_STRUCTURE]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEE_STRUCTURE](
	[FSTR_ID] [int] NULL,
	[FSTR_PACKAGE_ID] [int] NULL,
	[FSTR_SUBJECT_NAME] [varchar](50) NULL,
	[FSTR_AMOUNT] [decimal](18, 2) NULL,
	[FSTR_LUMSUM_AMOUNT] [decimal](18, 2) NULL,
	[FSTR_INSTALLMENT_AMOUNT] [decimal](18, 2) NULL,
	[FSTR_REG_AMOUNT] [decimal](18, 2) NULL,
	[FSTR_MISC_AMOUNT] [decimal](18, 2) NULL,
	[FSTR_BRANCH_ID] [int] NOT NULL,
	[FSTR_PACKAGE_TYPE] [int] NULL,
	[FSTR_IS_FACILITY] [bit] NULL,
	[FSTR_AUTORENEW] [bit] NULL,
	[FSTR_CRTD_AT] [datetime] NULL,
	[FSTR_UPDT_AT] [datetime] NULL,
	[FSTR_DLTD_AT] [datetime] NULL,
	[FSTR_CRTD_BY] [varchar](50) NULL,
	[FSTR_UPDAT_BY] [varchar](50) NULL,
	[FSTR_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEES]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEES](
	[FEE_ID] [int] NULL,
	[FEE_ADMISSION_NO] [int] NOT NULL,
	[FEE_ACADEMIC_YEAR] [int] NOT NULL,
	[FEE_TOTAL_FEES] [decimal](18, 2) NULL,
	[FEE_FEES_PAID] [decimal](18, 2) NULL,
	[FEE_DISCOUNT] [decimal](18, 2) NULL,
	[FEE_CANCD_FEES] [decimal](18, 2) NULL,
	[FEE_BOOKING_AMOUNT] [decimal](18, 2) NULL,
	[FEE_REG_AMOUNT] [decimal](18, 2) NULL,
	[FEE_MISC_AMOUNT] [decimal](18, 2) NULL,
	[FEE_BRANCH_ID] [int] NOT NULL,
	[FEE_TUTION_AMOUNT] [decimal](18, 2) NULL,
	[FEE_FINE_AMOUNT] [decimal](18, 2) NULL,
	[FEE_PAYMENT_TYPE] [varchar](1) NULL,
	[FEE_LAST_INSTALLMENT_MONTH] [int] NULL,
	[FEE_LAST_PAYMENT_DATE] [date] NULL,
	[FEE_LAST_INSTALLMENT_PAID_ID] [int] NOT NULL,
	[FEE_DISCOUND_REASON] [nvarchar](500) NULL,
	[FEE_LAST_PAYMENT_STATUS] [varchar](100) NULL,
	[FEE_PAID_INSTALLMENT_ID] [int] NULL,
	[FEE_PAYMENT_START_DATE] [date] NULL,
	[FEE_CRTD_AT] [datetime] NULL,
	[FEE_UPDT_AT] [datetime] NULL,
	[FEE_DLTD_AT] [datetime] NULL,
	[FEE_CRTD_BY] [varchar](50) NULL,
	[FEE_UPDAT_BY] [varchar](50) NULL,
	[FEE_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FEE_PNDG_CHEQUE_AMNT] [decimal](18, 2) NULL,
	[FEE_REASON] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEES_PACKAGES]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEES_PACKAGES](
	[FPKG_ID] [int] NULL,
	[FPKG_STANDARD_ID] [int] NULL,
	[FPKG_COMBO_ID] [varchar](100) NOT NULL,
	[FPKG_PACKAGE_NAME] [varchar](100) NOT NULL,
	[FPKG_SUBJECT] [varchar](max) NULL,
	[FPKG_PACKAGE_TYPE] [int] NULL,
	[FPKG_VALID_STANDARD] [varchar](100) NULL,
	[FPKG_REG_FEES] [numeric](18, 2) NULL,
	[FPKG_MISC_FEES] [numeric](18, 2) NULL,
	[FPKG_RECURSIVE_FEES] [numeric](18, 2) NULL,
	[FPKG_TOTAL_TUTION_FEES] [numeric](18, 2) NULL,
	[FPKG_PACKAGE_COST] [numeric](18, 2) NULL,
	[FPKG_LUMSUM_AMOUNT] [numeric](18, 2) NULL,
	[FPKG_HAS_OPTIONAL_SUBJECTS] [bit] NULL,
	[FPKG_DURATION] [int] NULL,
	[FPKG_AUTORENEW] [bit] NULL,
	[FPKG_BRANCH_ID] [int] NOT NULL,
	[FPKG_CRTD_AT] [datetime] NULL,
	[FPKG_UPDT_AT] [datetime] NULL,
	[FPKG_DLTD_AT] [datetime] NULL,
	[FPKG_CRTD_BY] [varchar](50) NULL,
	[FPKG_UPDAT_BY] [varchar](50) NULL,
	[FPKG_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FPKG_SAC_CODE] [varchar](500) NULL,
	[FPKG_CGST_PER] [decimal](18, 2) NULL,
	[FPKG_IGST_PER] [decimal](18, 2) NULL,
	[FPKG_SGST_PER] [decimal](18, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOLLOW_UP]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOLLOW_UP](
	[FOLU_ID] [int] NULL,
	[FOLU_REF_NO] [int] NOT NULL,
	[FOLU_FOLLOWUP_TYPE] [varchar](250) NULL,
	[FOLU_DATE] [date] NULL,
	[FOLU_DESCRIPTION] [varchar](max) NULL,
	[FOLU_MEDIUM] [varchar](50) NULL,
	[FOLU_STATUS] [varchar](20) NULL,
	[FOLU_BRANCH_ID] [int] NOT NULL,
	[FOLU_CRTD_AT] [datetime] NULL,
	[FOLU_UPDT_AT] [datetime] NULL,
	[FOLU_DLTD_AT] [datetime] NULL,
	[FOLU_CRTD_BY] [varchar](50) NULL,
	[FOLU_UPDAT_BY] [varchar](50) NULL,
	[FOLU_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FOLU_BY] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCTION_MASTER]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCTION_MASTER](
	[FM_ID] [int] IDENTITY(1,1) NOT NULL,
	[FM_NAME] [varchar](50) NULL,
	[FM_SHORT_KEY] [varchar](10) NULL,
	[FM_HOT_KEY] [varchar](10) NULL,
	[FM_FORM_CLASS] [nvarchar](50) NULL,
	[FM_FORM_ASSEMBLY] [nvarchar](500) NULL,
	[FM_LEVEL_INDCTR] [varchar](1) NULL,
	[FM_PARENT_ID] [int] NULL,
	[FM_GRP_SEQ] [int] NULL,
	[FM_APP_NAME] [varchar](200) NULL,
	[FM_BRANCH_ID] [int] NULL,
	[FM_CRTD_AT] [datetime] NULL,
	[FM_UPDT_AT] [datetime] NULL,
	[FM_DLTD_AT] [datetime] NULL,
	[FM_CRTD_BY] [varchar](50) NULL,
	[FM_UPDAT_BY] [varchar](50) NULL,
	[FM_DLTD_BY] [varchar](50) NULL,
	[ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GLB_ACCOUNTS]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GLB_ACCOUNTS](
	[ACT_ID] [int] NULL,
	[ACT_NAME] [varchar](50) NULL,
	[ACT_BAL] [decimal](18, 2) NULL,
	[ACT_TYPE] [varchar](30) NULL,
	[ACT_PDNG_AMNT] [decimal](18, 2) NULL,
	[ACT_BRANCH_ID] [int] NOT NULL,
	[ACT_CRTD_DT] [datetime] NULL,
	[ACT_CRTD_BY] [nvarchar](50) NULL,
	[ACT_UPDT_DT] [datetime] NULL,
	[ACT_UPDT_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOLIDAY_MASTER]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOLIDAY_MASTER](
	[HOLM_ID] [int] NULL,
	[HOLM_FROM_DATE] [date] NULL,
	[HOLM_TO_DATE] [date] NULL,
	[HOLM_NAME] [varchar](50) NULL,
	[HOLM_BRANCH_ID] [int] NOT NULL,
	[HOLM_CRTD_AT] [datetime] NULL,
	[HOLM_UPDT_AT] [datetime] NULL,
	[HOLM_DLTD_AT] [datetime] NULL,
	[HOLM_CRTD_BY] [varchar](50) NULL,
	[HOLM_UPDAT_BY] [varchar](50) NULL,
	[HOLM_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSTALLMENTS_DETAILS]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTALLMENTS_DETAILS](
	[INSD_ID] [int] NULL,
	[INSD_FEES_ID] [int] NULL,
	[INSD_INST_MONTH] [int] NULL,
	[INSD_INST_NO] [int] NULL,
	[INSD_DATE] [date] NULL,
	[INSD_AMOUNT_PAID] [decimal](18, 2) NULL,
	[INSD_PAYMENT_DATE] [date] NULL,
	[INSD_CNCLD_AMT] [decimal](18, 2) NULL,
	[INSD_STATUS] [varchar](50) NULL,
	[INSD_INSTMNT_AMT] [decimal](18, 2) NULL,
	[INSD_DISCOUNT] [numeric](18, 2) NULL,
	[INSD_TOTAL_DISCOUNT] [numeric](18, 2) NULL,
	[INSD_DESC] [nvarchar](100) NULL,
	[INSD_FACILITY_ID] [int] NULL,
	[INSD_REASON] [varchar](500) NULL,
	[INSD_BRANCH_ID] [int] NOT NULL,
	[INSD_COURCE_ID] [int] NULL,
	[INSD_CRTD_AT] [datetime] NULL,
	[INSD_UPDT_AT] [datetime] NULL,
	[INSD_DLTD_AT] [datetime] NULL,
	[INSD_CRTD_BY] [varchar](50) NULL,
	[INSD_UPDAT_BY] [varchar](50) NULL,
	[INSD_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INSD_DURATION] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[INVOICE_ID] [int] NULL,
	[INVOICE_NO] [varchar](max) NULL,
	[INVOICE_CLIENT] [varchar](500) NULL,
	[INVOICE_DATE] [date] NULL,
	[INVOICE_AMOUNT] [decimal](18, 0) NULL,
	[INVOICE_ADMISSION_NO] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_CRTD_AT] [datetime] NULL,
	[INVOICE_UPDT_AT] [datetime] NULL,
	[INVOICE_DLTD_AT] [datetime] NULL,
	[INVOICE_CRTD_BY] [varchar](500) NULL,
	[INVOICE_UPDAT_BY] [varchar](500) NULL,
	[INVOICE_DLTD_BY] [varchar](500) NULL,
	[INVOICE_BRANCH_ID] [int] NULL,
	[INVOICE_CLIENT_GSTN] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE_DETAILS]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE_DETAILS](
	[INVC_ID] [int] NULL,
	[INVC_INVOICE_ID] [int] NOT NULL,
	[INVC_AMOUNT] [decimal](18, 2) NULL,
	[INVC_PAKG_AMT] [decimal](18, 2) NULL,
	[INVC_SAC_CODE] [varchar](50) NULL,
	[INVC_QUANTITY] [int] NULL,
	[INVC_ACTUAL_AMT] [decimal](18, 2) NULL,
	[INVC_CGST_%] [int] NULL,
	[INVC_SGST_%] [int] NULL,
	[INVC_CGST] [decimal](18, 2) NOT NULL,
	[INVC_SGST] [decimal](18, 2) NULL,
	[INVC_TOTAL_TAX] [decimal](18, 2) NULL,
	[INVC_PAID_AMT] [decimal](18, 2) NULL,
	[INVC_BALANCE] [decimal](18, 2) NULL,
	[INVC_CRTD_AT] [datetime] NULL,
	[INVC_UPDT_AT] [datetime] NULL,
	[INVC_DLTD_AT] [datetime] NULL,
	[INVC_CRTD_BY] [varchar](500) NULL,
	[INVC_UPDAT_BY] [varchar](500) NULL,
	[INVC_DLTD_BY] [varchar](500) NULL,
	[INVC_BRANCH_ID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INVC_PCKG_NAME] [varchar](500) NULL,
	[INVC_DISCOUNT] [decimal](18, 2) NULL,
	[INVOICE_CLIENT_GSTN] [varchar](50) NULL,
	[INVC_CGST_PERCENTAGE] [decimal](18, 2) NULL,
	[INVC_SGST_PERCENTAGE] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[LGN_REGID] [int] NULL,
	[LGN_USER_ID] [nvarchar](50) NULL,
	[LGN_PASSWORD] [nvarchar](50) NULL,
	[LGN_TYPE] [nvarchar](1) NULL,
	[LGN_BRANCH_ID] [int] NOT NULL,
	[LGN_CRTD_AT] [datetime] NULL,
	[LGN_UPDT_AT] [datetime] NULL,
	[LGN_DLTD_AT] [datetime] NULL,
	[LGN_CRTD_BY] [varchar](50) NULL,
	[LGN_UPDAT_BY] [varchar](50) NULL,
	[LGN_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARKETING]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARKETING](
	[MKTG_ID] [int] NULL,
	[MKTG_STUDENT_NAME] [nvarchar](4000) NULL,
	[MKTG_PHONE_NO] [nvarchar](4000) NULL,
	[MKTG_STREAM] [nvarchar](4000) NULL,
	[MKTG_BIRTH_DATE] [date] NULL,
	[MKTG_ANIVERSRY_DATE] [date] NULL,
	[MKTG_EMAILID] [varchar](50) NULL,
	[MKTG_STUDENT_TYPE] [varchar](50) NULL,
	[MKTG_BRANCH_ID] [int] NULL,
	[MKTG_CRTD_AT] [datetime] NULL,
	[MKTG_UPDT_AT] [datetime] NULL,
	[MKTG_DLTD_AT] [datetime] NULL,
	[MKTG_CRTD_BY] [varchar](50) NULL,
	[MKTG_UPDAT_BY] [varchar](50) NULL,
	[MKTG_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARKS]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARKS](
	[MARK_ID] [int] NOT NULL,
	[MARK_TEST_ID] [int] NOT NULL,
	[MARK_STUDENT_NAME] [varchar](50) NULL,
	[MARK_ADMISSION_NO] [varchar](50) NOT NULL,
	[MARK_MARKS_OBTAINED] [int] NULL,
	[MARK_BRANCH_ID] [int] NOT NULL,
	[MARK_CRTD_AT] [datetime] NULL,
	[MARK_UPDT_AT] [datetime] NULL,
	[MARK_DLTD_AT] [datetime] NULL,
	[MARK_CRTD_BY] [varchar](50) NULL,
	[MARK_UPDAT_BY] [varchar](50) NULL,
	[MARK_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACKAGE_INSTALLMENT]    Script Date: 3/11/2019 9:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACKAGE_INSTALLMENT](
	[PKGI_ID] [int] NULL,
	[PKGI_PKG_ID] [int] NULL,
	[PKGI_INSTLMNT_AMNT] [decimal](18, 0) NULL,
	[PKGI_NO_OF_MONTHS] [int] NULL,
	[PKGI_NO_OF_DAYS] [int] NULL,
	[PKGI_DURATION] [int] NULL,
	[PKGI_BRANCH_ID] [int] NOT NULL,
	[PKGI_CRTD_AT] [datetime] NULL,
	[PKGI_UPDT_AT] [datetime] NULL,
	[PKGI_DLTD_AT] [datetime] NULL,
	[PKGI_CRTD_BY] [varchar](50) NULL,
	[PKGI_UPDAT_BY] [varchar](50) NULL,
	[PKGI_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PKGI_INST_NAME] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAID_EXPENSES]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAID_EXPENSES](
	[PDEX_ID] [int] NULL,
	[PDEX_EXPNSE_ID] [int] NOT NULL,
	[PDEX_DESC] [nvarchar](500) NULL,
	[PDEX_ACCNT_ID] [int] NULL,
	[PDEX_PAID_TO] [nvarchar](500) NOT NULL,
	[PDEX_AMOUNT] [float] NOT NULL,
	[PDEX_DATE] [date] NOT NULL,
	[PDEX_BRANCH_ID] [int] NOT NULL,
	[PDEX_IS_EXPNSE] [bit] NULL,
	[PDEX_TRANSACTION_ID] [int] NULL,
	[PDEX_CRTD_AT] [datetime] NULL,
	[PDEX_UPDT_AT] [datetime] NULL,
	[PDEX_DLTD_AT] [datetime] NULL,
	[PDEX_CRTD_BY] [varchar](50) NULL,
	[PDEX_UPDAT_BY] [varchar](50) NULL,
	[PDEX_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PDEX_PAYMENT_MODE] [varchar](500) NULL,
	[PDEX_FILE_PATH] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_MASTER]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_MASTER](
	[RM_ID] [int] IDENTITY(1,1) NOT NULL,
	[RM_NAME] [varchar](50) NULL,
	[RM_DEPT] [varchar](50) NULL,
	[RM_CRTD_AT] [datetime] NULL,
	[RM_UPDT_AT] [datetime] NULL,
	[RM_DLTD_AT] [datetime] NULL,
	[RM_CRTD_BY] [varchar](50) NULL,
	[RM_UPDAT_BY] [varchar](50) NULL,
	[RM_DLTD_BY] [varchar](50) NULL,
	[RM_BRANCH_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_PRIVILEGES]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_PRIVILEGES](
	[RP_ID] [int] NULL,
	[RP_FM_ID] [int] NULL,
	[RP_RM_ID] [int] NULL,
	[RP_VIEW] [int] NULL,
	[RP_MODIFY] [int] NULL,
	[RP_DELETE] [int] NULL,
	[RP_CREATE] [int] NULL,
	[RP_ALL_BRANCHES] [int] NULL,
	[RP_BRANCH_ID] [int] NULL,
	[ROLP_CRTD_AT] [datetime] NULL,
	[ROLP_UPDT_AT] [datetime] NULL,
	[ROLP_DLTD_AT] [datetime] NULL,
	[ROLP_CRTD_BY] [varchar](50) NULL,
	[ROLP_UPDAT_BY] [varchar](50) NULL,
	[ROLP_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMS_DETAILS]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_DETAILS](
	[SMSD_ID] [int] NULL,
	[SMSD_TO_MOBILE] [varchar](50) NULL,
	[SMSD_TO_EMAIL] [varchar](50) NULL,
	[SMSD_BODY] [nvarchar](max) NULL,
	[SMSD_TYPE] [varchar](50) NULL,
	[SMSD_SENT_TIME] [date] NULL,
	[SMSD_CODE] [varchar](50) NULL,
	[SMSD_SENT_STATUS] [varchar](max) NULL,
	[SMSD_BRANCH_ID] [int] NOT NULL,
	[SMSD_CRTD_AT] [datetime] NULL,
	[SMSD_UPDT_AT] [datetime] NULL,
	[SMSD_DLTD_AT] [datetime] NULL,
	[SMSD_CRTD_BY] [varchar](50) NULL,
	[SMSD_UPDAT_BY] [varchar](50) NULL,
	[SMSD_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SMSD_TEMPLATE] [varchar](5000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STANDARD]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STANDARD](
	[STD_ID] [int] NULL,
	[STD_NAME] [varchar](50) NULL,
	[STD_DURATION] [int] NULL,
	[STD_STREAM_ID] [int] NULL,
	[STD_BRANCH_ID] [int] NULL,
	[STD_CRTD_AT] [datetime] NULL,
	[STD_UPDT_AT] [datetime] NULL,
	[STD_DLTD_AT] [datetime] NULL,
	[STD_CRTD_BY] [varchar](50) NULL,
	[STD_UPDAT_BY] [varchar](50) NULL,
	[STD_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STREAM]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STREAM](
	[STRM_ID] [int] NULL,
	[STRM_NAME] [varchar](50) NULL,
	[STRM_BRANCH_ID] [int] NOT NULL,
	[STRM_CRTD_AT] [datetime] NULL,
	[STRM_UPDT_AT] [datetime] NULL,
	[STRM_DLTD_AT] [datetime] NULL,
	[STRM_CRTD_BY] [varchar](50) NULL,
	[STRM_UPDAT_BY] [varchar](50) NULL,
	[STRM_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUD_SCHEDULED_LECT]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUD_SCHEDULED_LECT](
	[SCH_ID] [int] NULL,
	[SCH_ADMISSION] [int] NOT NULL,
	[SCH_COURSE_ID] [int] NOT NULL,
	[SCH_BIOM_ID] [int] NULL,
	[SCH_DAY] [varchar](50) NULL,
	[SCH_FROM_TIME] [time](7) NULL,
	[SCH_TO_TIME] [time](7) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SCH_CRTD_AT] [datetime] NULL,
	[SCH_CRTD_BY] [varchar](50) NULL,
	[SCH_UPDT_AT] [datetime] NULL,
	[SCH_UPDT_BY] [varchar](50) NULL,
	[SCH_DLT_AT] [datetime] NULL,
	[SCH_DLT_BY] [varchar](50) NULL,
	[SCH_BRANCH_ID] [int] NULL,
	[SCH_ATTENDED_COUNT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[STUD_ADMISSION_NO] [int] NOT NULL,
	[STUD_FEES_ID] [int] NOT NULL,
	[STUD_ADMTN_DATE] [date] NULL,
	[STUD_BRANCH_ID] [int] NOT NULL,
	[STUD_CRTD_AT] [datetime] NULL,
	[STUD_UPDT_AT] [datetime] NULL,
	[STUD_DLTD_AT] [datetime] NULL,
	[STUD_CRTD_BY] [varchar](50) NULL,
	[STUD_UPDAT_BY] [varchar](50) NULL,
	[STUD_DLTD_BY] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_ADMISSION]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_ADMISSION](
	[STAM_ID] [int] NULL,
	[STAM_ADMISSION_NO] [int] NOT NULL,
	[STAM_STD_ID] [int] NULL,
	[STAM_ADMISSION_DATE] [datetime] NULL,
	[STAM_PACKAGE_ID] [int] NULL,
	[STAM_IS_MAIN_PACKAGE] [bit] NULL,
	[STAM_BATCH_ID] [int] NULL,
	[STAM_ROLL_NO] [varchar](50) NULL,
	[STAM_IS_ACTIVE] [bit] NULL,
	[STAM_BRANCH_ID] [int] NOT NULL,
	[STAM_CRTD_AT] [datetime] NULL,
	[STAM_UPDT_AT] [datetime] NULL,
	[STAM_DLTD_AT] [datetime] NULL,
	[STAM_CRTD_BY] [varchar](50) NULL,
	[STAM_UPDAT_BY] [varchar](50) NULL,
	[STAM_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STAM_STFL_ID] [int] NULL,
	[STAM_BIOM_ID] [int] NULL,
	[STAM_LECTURES_COUNT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_ARCHIVAL]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_ARCHIVAL](
	[STAC_ID] [int] NOT NULL,
	[STAC_ADMISSION_NO] [int] NOT NULL,
	[STAC_DELETED_DATE] [date] NULL,
	[STAC_BRANCH_ID] [int] NOT NULL,
	[STAC_CRTD_AT] [datetime] NULL,
	[STAC_UPDT_AT] [datetime] NULL,
	[STAC_DLTD_AT] [datetime] NULL,
	[STAC_CRTD_BY] [varchar](50) NULL,
	[STAC_UPDAT_BY] [varchar](50) NULL,
	[STAC_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_FACILITIES]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_FACILITIES](
	[STFL_ID] [int] NULL,
	[STFL_ADMISSION_NO] [int] NULL,
	[STFL_FACILITY_NAME] [varchar](50) NULL,
	[STFL_PACKAGE_ID] [int] NULL,
	[STFL_ADMSION_DATE] [date] NULL,
	[STFL_FROM_DATE] [date] NULL,
	[STFL_TO_DATE] [date] NULL,
	[STFL_STATUS] [char](1) NULL,
	[STFL_FEES_ID] [int] NULL,
	[STFL_AMOUNT] [numeric](18, 2) NULL,
	[STFL_IS_MAIN_PACKAGE] [bit] NULL,
	[STFL_IS_AUTO_RENEW] [bit] NULL,
	[STFL_DISCOUNT] [numeric](18, 2) NULL,
	[STFL_BRANCH_ID] [int] NOT NULL,
	[STFL_IS_RENEW_DISCOUNT] [bit] NULL,
	[STFL_RENEWAL_DISCOUNT] [decimal](18, 2) NULL,
	[STFL_CRTD_AT] [datetime] NULL,
	[STFL_UPDT_AT] [datetime] NULL,
	[STFL_DLTD_AT] [datetime] NULL,
	[STFL_CRTD_BY] [varchar](50) NULL,
	[STFL_UPDAT_BY] [varchar](50) NULL,
	[STFL_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STFL_INVC_ID] [int] NULL,
	[STFL_DISCOUNT_REASON] [varchar](400) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_FEES_DETAILS]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_FEES_DETAILS](
	[STFL_ID] [int] NULL,
	[STFL_ADMISSION_NO] [int] NULL,
	[STFL_TRANSACTION_ID] [int] NULL,
	[STFL_FEES_TYPE] [int] NULL,
	[STFL_INST_ID] [int] NULL,
	[STFL_AMOUNT_PAID] [numeric](18, 2) NULL,
	[STFL_COURSE_ID] [int] NULL,
	[STFL_PACKAGE_ID] [int] NULL,
	[STFL_FACILITY_ID] [int] NULL,
	[STFL_PAYMENT_DATE] [date] NULL,
	[STFD_BRANCH_ID] [int] NOT NULL,
	[STFD_CRTD_AT] [datetime] NULL,
	[STFL_UPDT_AT] [datetime] NULL,
	[STFL_DLTD_AT] [datetime] NULL,
	[STFL_CRTD_BY] [varchar](50) NULL,
	[STFL_UPDAT_BY] [varchar](50) NULL,
	[STFL_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_MASTER]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_MASTER](
	[STMT_ID] [int] NULL,
	[STMT_ADMISSION_NO] [int] NULL,
	[STMT_FNAME] [varchar](50) NULL,
	[STMT_MNAME] [varchar](50) NULL,
	[STMT_LNAME] [varchar](50) NULL,
	[STMT_ADDRESS] [varchar](max) NULL,
	[STMT_CONTACT_NO] [varchar](50) NULL,
	[STMT_GENDER] [varchar](50) NULL,
	[STMT_DOB] [date] NULL,
	[STMT_FATHER_NAME] [varchar](50) NULL,
	[STMT_MOTHER_NAME] [varchar](50) NULL,
	[STMT_FATHER_OCCUPATION] [varchar](50) NULL,
	[STMT_MOTHER_OCCUPATION] [varchar](50) NULL,
	[STMT_MOTHER_CONTACT] [varchar](50) NULL,
	[STMT_FATHER_CONTACT] [varchar](50) NULL,
	[STMT_ADMISSION_DATE] [date] NULL,
	[STMT_ADMISSION_STND] [varchar](50) NULL,
	[STMT_PHOTO_URL] [varchar](max) NULL,
	[STMT_ENQUIRY_ID] [int] NULL,
	[STMT_ACADEMIC_INFO] [varchar](max) NULL,
	[STMT_EMAIL_ID] [varchar](50) NULL,
	[STMT_BRANCH_ID] [int] NOT NULL,
	[STMT_MEMSHIP_NO] [varchar](50) NULL,
	[STMT_DEACTIVATED] [nvarchar](50) NULL,
	[STMT_CRTD_AT] [datetime] NULL,
	[STMT_UPDT_AT] [datetime] NULL,
	[STMT_DLTD_AT] [datetime] NULL,
	[STMT_CRTD_BY] [varchar](50) NULL,
	[STMT_UPDAT_BY] [varchar](50) NULL,
	[STMT_DLTD_BY] [varchar](50) NULL,
	[STMT_ADHARCARD_NO] [varchar](50) NULL,
	[STMT_REMARK] [varchar](400) NULL,
	[STMT_BLOODGROUP] [varchar](50) NULL,
	[STMT_BMI] [varchar](50) NULL,
	[STMT_WEIGHT] [varchar](50) NULL,
	[STMT_HEIGHT] [varchar](500) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STMT_LGN_REGD_ID] [int] NULL,
	[STMT_COUNSELOR] [varchar](50) NULL,
	[STMT_REFERENCE] [varchar](50) NULL,
	[STMT_CATEGORY] [varchar](50) NULL,
	[STMT_GST_NO] [varchar](50) NULL,
	[STMT_HEATH_ISSUE] [varchar](100) NULL,
	[STMT_SOURCE] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_DETAILS]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_DETAILS](
	[STTD_ID] [int] NULL,
	[STTD_TEST_SUB_ID] [int] NOT NULL,
	[STTD_MARKS_OPTAINED] [int] NULL,
	[STTD_ADMISSION_NO] [int] NOT NULL,
	[STTD_REMARK] [varchar](max) NULL,
	[STTD_BRANCH_ID] [int] NOT NULL,
	[STTD_CRTD_AT] [datetime] NULL,
	[STTD_UPDT_AT] [datetime] NULL,
	[STTD_DLTD_AT] [datetime] NULL,
	[STTD_CRTD_BY] [varchar](50) NULL,
	[STTD_UPDAT_BY] [varchar](50) NULL,
	[STTD_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT_FACULTY]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT_FACULTY](
	[SUBF_ID] [int] NULL,
	[SUBF_SUBJET_ID] [int] NULL,
	[SUBF_FACULY_ID] [int] NULL,
	[SUBF_BRANCH_ID] [int] NOT NULL,
	[SUBF_CRTD_AT] [datetime] NULL,
	[SUBF_UPDT_AT] [datetime] NULL,
	[SUBF_DLTD_AT] [datetime] NULL,
	[SUBF_CRTD_BY] [varchar](50) NULL,
	[SUBF_UPDAT_BY] [varchar](50) NULL,
	[SUBF_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT_MASTER]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT_MASTER](
	[SUBM_ID] [int] NULL,
	[SUBM_NAME] [varchar](50) NULL,
	[SUBM_STANDARD_ID] [int] NULL,
	[SUBM_BRANCH_ID] [int] NOT NULL,
	[SUBM_CRTD_AT] [datetime] NULL,
	[SUBM_UPDT_AT] [datetime] NULL,
	[SUBM_DLTD_AT] [datetime] NULL,
	[SUBM_CRTD_BY] [varchar](50) NULL,
	[SUBM_UPDAT_BY] [varchar](50) NULL,
	[SUBM_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_PRM]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_PRM](
	[PRM_NAME] [varchar](500) NOT NULL,
	[PRM_VALUE] [varchar](max) NULL,
	[PRM_VALUE_INT] [int] NULL,
	[PRM_FRM_DT] [date] NULL,
	[PRM_TO_DT] [date] NULL,
	[PRM_BRANCH_ID] [int] NULL,
	[PRM_CRTD_AT] [datetime] NULL,
	[PRM_UPDT_AT] [datetime] NULL,
	[PRM_DLTD_AT] [datetime] NULL,
	[PRM_CRTD_BY] [varchar](50) NULL,
	[PRM_UPDAT_BY] [varchar](50) NULL,
	[PRM_DLTD_BY] [varchar](50) NULL,
	[PRM_VISIBILITY_ROLE_ID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEMPLATE]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPLATE](
	[TEMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[TEMP_TYPE] [varchar](50) NULL,
	[TEMP_TEMPLATE] [varchar](max) NULL,
	[TEMP_BRANCH_ID] [int] NULL,
	[TEMP_CRTD_AT] [datetime] NULL,
	[TEMP_UPDT_AT] [datetime] NULL,
	[TEMP_DLTD_AT] [datetime] NULL,
	[TEMP_CRTD_BY] [varchar](50) NULL,
	[TEMP_UPDAT_BY] [varchar](50) NULL,
	[TEMP_DLTD_BY] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST_MASTER]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_MASTER](
	[TEST_ID] [int] NULL,
	[TEST_STANDARD_ID] [int] NULL,
	[TEST_NAME] [varchar](50) NULL,
	[TEST_TTL_MARKS] [decimal](18, 2) NULL,
	[TEST_DESC] [varchar](500) NULL,
	[TEST_DATE] [date] NULL,
	[TEST_BATCH_ID] [int] NULL,
	[TEST_MAX_MARKS] [decimal](18, 2) NULL,
	[TEST_BRANCH_ID] [int] NOT NULL,
	[TEST_STATUS] [varchar](50) NULL,
	[TEST_CRTD_AT] [datetime] NULL,
	[TEST_UPDT_AT] [datetime] NULL,
	[TEST_DLTD_AT] [datetime] NULL,
	[TEST_CRTD_BY] [varchar](50) NULL,
	[TEST_UPDAT_BY] [varchar](50) NULL,
	[TEST_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEST_ARCHIEVE] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST_SUBJECTS]    Script Date: 3/11/2019 9:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_SUBJECTS](
	[TSUB_ID] [int] NULL,
	[TSUB_TEST_ID] [int] NULL,
	[TSUB_SUBJECT_ID] [int] NULL,
	[TSUB_BRANCH_ID] [int] NOT NULL,
	[TSUB_CRTD_AT] [datetime] NULL,
	[TSUB_UPDT_AT] [datetime] NULL,
	[TSUB_DLTD_AT] [datetime] NULL,
	[TSUB_CRTD_BY] [varchar](max) NULL,
	[TSUB_UPDT_BY] [varchar](max) NULL,
	[TSUB_DLTD_BY] [varchar](max) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TSUB_MARKS] [decimal](18, 0) NOT NULL,
	[TSUB_DATETIME] [date] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIME_TABLE]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIME_TABLE](
	[TMTL_ID] [int] NULL,
	[TMTL_STANDARD_ID] [int] NULL,
	[TMTL_BATCH_ID] [int] NULL,
	[TMTL_DATE] [date] NULL,
	[TMTL_FACULTY_ID] [int] NULL,
	[TMTL_FROM_TIME] [time](7) NULL,
	[TMTL_TO_TIME] [time](7) NULL,
	[TMTL_SUBJECT_ID] [int] NULL,
	[TMTL_LOCATION] [varchar](50) NULL,
	[TMTL_BRANCH_ID] [int] NOT NULL,
	[TMTL_CRTD_AT] [datetime] NULL,
	[TMTL_UPDT_AT] [datetime] NULL,
	[TMTL_DLTD_AT] [datetime] NULL,
	[TMTL_CRTD_BY] [varchar](50) NULL,
	[TMTL_UPDAT_BY] [varchar](50) NULL,
	[TMTL_DLTD_BY] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION](
	[TRNC_ID] [int] NULL,
	[TRNC_ADMISSION_NO] [int] NULL,
	[TRNC_ROLL_NO] [nvarchar](50) NULL,
	[TRNC_DATE] [date] NOT NULL,
	[TRNC_PAYMENTS] [nvarchar](1000) NULL,
	[TRNC_AMOUNT] [numeric](18, 0) NULL,
	[TRNC_FINE] [numeric](18, 0) NULL,
	[TRNC_RECEIVED_BY] [nvarchar](50) NULL,
	[TRNC_QUARTER] [int] NULL,
	[TRNC_ACADEMIC_YEAR] [int] NULL,
	[TRNC_FIN_YEAR] [int] NULL,
	[TRNC_BANK_NAME] [varchar](50) NULL,
	[TRNC_CHEQUE_NO] [varchar](50) NULL,
	[TRNC_BRANCH] [varchar](50) NULL,
	[TRNC_CHEQUE_DATE] [date] NULL,
	[TRNC_PAYMENT_MODE] [varchar](50) NULL,
	[TRNC_RECEIPT_NO] [varchar](50) NULL,
	[TRNC_SERVICE__TAX] [decimal](18, 0) NULL,
	[TRNC_SERVICE_TAX_PRECENTAGE] [decimal](18, 0) NULL,
	[TRNC_CR_DR] [varchar](50) NULL,
	[TRNC_BRANCH_ID] [int] NOT NULL,
	[TRNC_RECEIVED_FROM_TO] [varchar](50) NULL,
	[TRNC_EXPENSE_ID] [int] NULL,
	[TRNC_CRTD_AT] [datetime] NULL,
	[TRNC_UPDT_AT] [datetime] NULL,
	[TRNC_DLTD_AT] [datetime] NULL,
	[TRNC_CRTD_BY] [varchar](50) NULL,
	[TRNC_UPDAT_BY] [varchar](50) NULL,
	[TRNC_DLTD_BY] [varchar](50) NULL,
	[TRNC_CHEQUE_AMOUNT] [decimal](18, 2) NULL,
	[TRNC_CASH_AMOUNT] [decimal](18, 2) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRNC_TRANSFER_AMOUNT] [decimal](18, 2) NULL,
	[TRNC_REMARK] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLES]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLES](
	[UR_ID] [int] NULL,
	[UR_USER_ID] [int] NULL,
	[UR_RM_ID] [int] NULL,
	[UR_BRANCH_ID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FEE_STRUCTURE] ADD  CONSTRAINT [DF_FEE_STRUCTURE_AutoRenew]  DEFAULT ((0)) FOR [FSTR_AUTORENEW]
GO
ALTER TABLE [dbo].[FEES_PACKAGES] ADD  CONSTRAINT [DF_FEES_PACKAGES_AutoRenew]  DEFAULT ((0)) FOR [FPKG_AUTORENEW]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDANCE_BRANCH_MASTER] FOREIGN KEY([ATTD_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_ATTENDANCE_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[ATTENDANCE_LECTURE]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDANCE_LECTURE_BRANCH_MASTER] FOREIGN KEY([ATLC_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[ATTENDANCE_LECTURE] CHECK CONSTRAINT [FK_ATTENDANCE_LECTURE_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[ATTENDENCE_LOG]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDENCE_LOG_BRANCH_MASTER] FOREIGN KEY([ATL_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[ATTENDENCE_LOG] CHECK CONSTRAINT [FK_ATTENDENCE_LOG_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[BATCH]  WITH CHECK ADD  CONSTRAINT [FK_BATCH_BRANCH_MASTER] FOREIGN KEY([BTCH_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[BATCH] CHECK CONSTRAINT [FK_BATCH_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[BATCH]  WITH CHECK ADD  CONSTRAINT [FK_BATCH_STANDARD] FOREIGN KEY([BTCH_STANDARD_ID])
REFERENCES [dbo].[STANDARD] ([STD_ID])
GO
ALTER TABLE [dbo].[BATCH] CHECK CONSTRAINT [FK_BATCH_STANDARD]
GO
ALTER TABLE [dbo].[BIOMERIC_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_BIOMERIC_MAPPING_BRANCH_MASTER] FOREIGN KEY([BIOM_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[BIOMERIC_MAPPING] CHECK CONSTRAINT [FK_BIOMERIC_MAPPING_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[CHEQUE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CHEQUE_DETAILS_GLB_ACCOUNTS] FOREIGN KEY([CHQ_DPST_ACCNT])
REFERENCES [dbo].[GLB_ACCOUNTS] ([ACT_ID])
GO
ALTER TABLE [dbo].[CHEQUE_DETAILS] CHECK CONSTRAINT [FK_CHEQUE_DETAILS_GLB_ACCOUNTS]
GO
ALTER TABLE [dbo].[CHEQUE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CHEQUE_DETAILS_TRANSACTION] FOREIGN KEY([CHQ_TRANC_ID])
REFERENCES [dbo].[TRANSACTION] ([TRNC_ID])
GO
ALTER TABLE [dbo].[CHEQUE_DETAILS] CHECK CONSTRAINT [FK_CHEQUE_DETAILS_TRANSACTION]
GO
ALTER TABLE [dbo].[ENQUIRY]  WITH CHECK ADD  CONSTRAINT [FK_ENQUIRY_BRANCH_MASTER] FOREIGN KEY([ENQ_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[ENQUIRY] CHECK CONSTRAINT [FK_ENQUIRY_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[FACULTY]  WITH CHECK ADD  CONSTRAINT [FK_FACULTY_BRANCH_MASTER] FOREIGN KEY([FCLT_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[FACULTY] CHECK CONSTRAINT [FK_FACULTY_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[FEE_STRUCTURE]  WITH CHECK ADD  CONSTRAINT [FK_FEE_STRUCTURE_BRANCH_MASTER] FOREIGN KEY([FSTR_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[FEE_STRUCTURE] CHECK CONSTRAINT [FK_FEE_STRUCTURE_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[FEE_STRUCTURE]  WITH CHECK ADD  CONSTRAINT [FK_FEE_STRUCTURE_FEES_PACKAGES] FOREIGN KEY([FSTR_PACKAGE_ID])
REFERENCES [dbo].[FEES_PACKAGES] ([FPKG_ID])
GO
ALTER TABLE [dbo].[FEE_STRUCTURE] CHECK CONSTRAINT [FK_FEE_STRUCTURE_FEES_PACKAGES]
GO
ALTER TABLE [dbo].[FEES]  WITH CHECK ADD  CONSTRAINT [FK_FEES_BRANCH_MASTER] FOREIGN KEY([FEE_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[FEES] CHECK CONSTRAINT [FK_FEES_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[FEES]  WITH CHECK ADD  CONSTRAINT [FK_FEES_STUDENT_MASTER] FOREIGN KEY([FEE_ADMISSION_NO])
REFERENCES [dbo].[STUDENT_MASTER] ([STMT_ADMISSION_NO])
GO
ALTER TABLE [dbo].[FEES] CHECK CONSTRAINT [FK_FEES_STUDENT_MASTER]
GO
ALTER TABLE [dbo].[FEES_PACKAGES]  WITH CHECK ADD  CONSTRAINT [FK_FEES_PACKAGES_BRANCH_MASTER] FOREIGN KEY([FPKG_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[FEES_PACKAGES] CHECK CONSTRAINT [FK_FEES_PACKAGES_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[FEES_PACKAGES]  WITH CHECK ADD  CONSTRAINT [FK_FEES_PACKAGES_STANDARD] FOREIGN KEY([FPKG_STANDARD_ID])
REFERENCES [dbo].[STANDARD] ([STD_ID])
GO
ALTER TABLE [dbo].[FEES_PACKAGES] CHECK CONSTRAINT [FK_FEES_PACKAGES_STANDARD]
GO
ALTER TABLE [dbo].[FOLLOW_UP]  WITH CHECK ADD  CONSTRAINT [FK_FOLLOW_UP_BRANCH_MASTER] FOREIGN KEY([FOLU_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[FOLLOW_UP] CHECK CONSTRAINT [FK_FOLLOW_UP_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[INSTALLMENTS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_INSTALLMENTS_DETAILS_BRANCH_MASTER] FOREIGN KEY([INSD_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[INSTALLMENTS_DETAILS] CHECK CONSTRAINT [FK_INSTALLMENTS_DETAILS_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[INSTALLMENTS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_INSTALLMENTS_DETAILS_FEES] FOREIGN KEY([INSD_FEES_ID])
REFERENCES [dbo].[FEES] ([FEE_ID])
GO
ALTER TABLE [dbo].[INSTALLMENTS_DETAILS] CHECK CONSTRAINT [FK_INSTALLMENTS_DETAILS_FEES]
GO
ALTER TABLE [dbo].[INSTALLMENTS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_INSTALLMENTS_DETAILS_STANDARD] FOREIGN KEY([INSD_COURCE_ID])
REFERENCES [dbo].[STANDARD] ([STD_ID])
GO
ALTER TABLE [dbo].[INSTALLMENTS_DETAILS] CHECK CONSTRAINT [FK_INSTALLMENTS_DETAILS_STANDARD]
GO
ALTER TABLE [dbo].[INSTALLMENTS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_INSTALLMENTS_DETAILS_STUDENT_FACILITIES] FOREIGN KEY([INSD_FACILITY_ID])
REFERENCES [dbo].[STUDENT_FACILITIES] ([STFL_ID])
GO
ALTER TABLE [dbo].[INSTALLMENTS_DETAILS] CHECK CONSTRAINT [FK_INSTALLMENTS_DETAILS_STUDENT_FACILITIES]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_STUDENT_MASTER] FOREIGN KEY([INVOICE_ADMISSION_NO])
REFERENCES [dbo].[STUDENT_MASTER] ([STMT_ADMISSION_NO])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_STUDENT_MASTER]
GO
ALTER TABLE [dbo].[LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_LOGIN_BRANCH_MASTER] FOREIGN KEY([LGN_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[LOGIN] CHECK CONSTRAINT [FK_LOGIN_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[PACKAGE_INSTALLMENT]  WITH CHECK ADD  CONSTRAINT [FK_PACKAGE_INSTALLMENT_BRANCH_MASTER] FOREIGN KEY([PKGI_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[PACKAGE_INSTALLMENT] CHECK CONSTRAINT [FK_PACKAGE_INSTALLMENT_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[PAID_EXPENSES]  WITH CHECK ADD  CONSTRAINT [FK_PAID_EXPENSES_BRANCH_MASTER] FOREIGN KEY([PDEX_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[PAID_EXPENSES] CHECK CONSTRAINT [FK_PAID_EXPENSES_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[PAID_EXPENSES]  WITH CHECK ADD  CONSTRAINT [FK_PAID_EXPENSES_EXPENSE_MASTER] FOREIGN KEY([PDEX_EXPNSE_ID])
REFERENCES [dbo].[EXPENSE_MASTER] ([EXPM_ID])
GO
ALTER TABLE [dbo].[PAID_EXPENSES] CHECK CONSTRAINT [FK_PAID_EXPENSES_EXPENSE_MASTER]
GO
ALTER TABLE [dbo].[PAID_EXPENSES]  WITH CHECK ADD  CONSTRAINT [FK_PAID_EXPENSES_GLB_ACCOUNTS] FOREIGN KEY([PDEX_ACCNT_ID])
REFERENCES [dbo].[GLB_ACCOUNTS] ([ACT_ID])
GO
ALTER TABLE [dbo].[PAID_EXPENSES] CHECK CONSTRAINT [FK_PAID_EXPENSES_GLB_ACCOUNTS]
GO
ALTER TABLE [dbo].[PAID_EXPENSES]  WITH CHECK ADD  CONSTRAINT [FK_PAID_EXPENSES_TRANSACTION] FOREIGN KEY([PDEX_TRANSACTION_ID])
REFERENCES [dbo].[TRANSACTION] ([TRNC_ID])
GO
ALTER TABLE [dbo].[PAID_EXPENSES] CHECK CONSTRAINT [FK_PAID_EXPENSES_TRANSACTION]
GO
ALTER TABLE [dbo].[ROLE_PRIVILEGES]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_PRIVILEGES_BRANCH_MASTER] FOREIGN KEY([RP_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[ROLE_PRIVILEGES] CHECK CONSTRAINT [FK_ROLE_PRIVILEGES_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[ROLE_PRIVILEGES]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_PRIVILEGES_FUNCTION_MASTER] FOREIGN KEY([RP_FM_ID])
REFERENCES [dbo].[FUNCTION_MASTER] ([FM_ID])
GO
ALTER TABLE [dbo].[ROLE_PRIVILEGES] CHECK CONSTRAINT [FK_ROLE_PRIVILEGES_FUNCTION_MASTER]
GO
ALTER TABLE [dbo].[ROLE_PRIVILEGES]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_PRIVILEGES_ROLE_MASTER] FOREIGN KEY([RP_RM_ID])
REFERENCES [dbo].[ROLE_MASTER] ([RM_ID])
GO
ALTER TABLE [dbo].[ROLE_PRIVILEGES] CHECK CONSTRAINT [FK_ROLE_PRIVILEGES_ROLE_MASTER]
GO
ALTER TABLE [dbo].[STANDARD]  WITH CHECK ADD  CONSTRAINT [FK_STANDARD_STREAM] FOREIGN KEY([STD_STREAM_ID])
REFERENCES [dbo].[STREAM] ([STRM_ID])
GO
ALTER TABLE [dbo].[STANDARD] CHECK CONSTRAINT [FK_STANDARD_STREAM]
GO
ALTER TABLE [dbo].[STUDENT_ADMISSION]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_ADMISSION_BATCH] FOREIGN KEY([STAM_BATCH_ID])
REFERENCES [dbo].[BATCH] ([BTCH_Id])
GO
ALTER TABLE [dbo].[STUDENT_ADMISSION] NOCHECK CONSTRAINT [FK_STUDENT_ADMISSION_BATCH]
GO
ALTER TABLE [dbo].[STUDENT_ADMISSION]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_ADMISSION_BRANCH_MASTER] FOREIGN KEY([STAM_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[STUDENT_ADMISSION] NOCHECK CONSTRAINT [FK_STUDENT_ADMISSION_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[STUDENT_ADMISSION]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_ADMISSION_STANDARD] FOREIGN KEY([STAM_STD_ID])
REFERENCES [dbo].[STANDARD] ([STD_ID])
GO
ALTER TABLE [dbo].[STUDENT_ADMISSION] NOCHECK CONSTRAINT [FK_STUDENT_ADMISSION_STANDARD]
GO
ALTER TABLE [dbo].[STUDENT_ADMISSION]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_ADMISSION_STUDENT_ADMISSION1] FOREIGN KEY([STAM_ID])
REFERENCES [dbo].[STUDENT_ADMISSION] ([STAM_ID])
GO
ALTER TABLE [dbo].[STUDENT_ADMISSION] NOCHECK CONSTRAINT [FK_STUDENT_ADMISSION_STUDENT_ADMISSION1]
GO
ALTER TABLE [dbo].[STUDENT_FACILITIES]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_FACILITIES_BRANCH_MASTER] FOREIGN KEY([STFL_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[STUDENT_FACILITIES] NOCHECK CONSTRAINT [FK_STUDENT_FACILITIES_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[STUDENT_FACILITIES]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_FACILITIES_FEES] FOREIGN KEY([STFL_FEES_ID])
REFERENCES [dbo].[FEES] ([FEE_ID])
GO
ALTER TABLE [dbo].[STUDENT_FACILITIES] NOCHECK CONSTRAINT [FK_STUDENT_FACILITIES_FEES]
GO
ALTER TABLE [dbo].[STUDENT_FEES_DETAILS]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_FEES_DETAILS_BRANCH_MASTER] FOREIGN KEY([STFD_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[STUDENT_FEES_DETAILS] NOCHECK CONSTRAINT [FK_STUDENT_FEES_DETAILS_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[STUDENT_FEES_DETAILS]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_FEES_DETAILS_STUDENT_FACILITIES] FOREIGN KEY([STFL_FACILITY_ID])
REFERENCES [dbo].[STUDENT_FACILITIES] ([STFL_ID])
GO
ALTER TABLE [dbo].[STUDENT_FEES_DETAILS] NOCHECK CONSTRAINT [FK_STUDENT_FEES_DETAILS_STUDENT_FACILITIES]
GO
ALTER TABLE [dbo].[STUDENT_FEES_DETAILS]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_FEES_DETAILS_STUDENT_MASTER] FOREIGN KEY([STFL_ADMISSION_NO])
REFERENCES [dbo].[STUDENT_MASTER] ([STMT_ADMISSION_NO])
GO
ALTER TABLE [dbo].[STUDENT_FEES_DETAILS] NOCHECK CONSTRAINT [FK_STUDENT_FEES_DETAILS_STUDENT_MASTER]
GO
ALTER TABLE [dbo].[STUDENT_FEES_DETAILS]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_FEES_DETAILS_TRANSACTION] FOREIGN KEY([STFL_TRANSACTION_ID])
REFERENCES [dbo].[TRANSACTION] ([TRNC_ID])
GO
ALTER TABLE [dbo].[STUDENT_FEES_DETAILS] NOCHECK CONSTRAINT [FK_STUDENT_FEES_DETAILS_TRANSACTION]
GO
ALTER TABLE [dbo].[STUDENT_TEST_DETAILS]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_TEST_DETAILS_BRANCH_MASTER] FOREIGN KEY([STTD_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_DETAILS] NOCHECK CONSTRAINT [FK_STUDENT_TEST_DETAILS_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[STUDENT_TEST_DETAILS]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_TEST_DETAILS_TEST_SUBJECTS] FOREIGN KEY([STTD_TEST_SUB_ID])
REFERENCES [dbo].[TEST_SUBJECTS] ([TSUB_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_DETAILS] NOCHECK CONSTRAINT [FK_STUDENT_TEST_DETAILS_TEST_SUBJECTS]
GO
ALTER TABLE [dbo].[SUBJECT_FACULTY]  WITH NOCHECK ADD  CONSTRAINT [FK_SUBJECT_FACULTY_BRANCH_MASTER] FOREIGN KEY([SUBF_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[SUBJECT_FACULTY] NOCHECK CONSTRAINT [FK_SUBJECT_FACULTY_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[SUBJECT_FACULTY]  WITH NOCHECK ADD  CONSTRAINT [FK_SUBJECT_FACULTY_FACULTY] FOREIGN KEY([SUBF_FACULY_ID])
REFERENCES [dbo].[FACULTY] ([FCLT_ID])
GO
ALTER TABLE [dbo].[SUBJECT_FACULTY] NOCHECK CONSTRAINT [FK_SUBJECT_FACULTY_FACULTY]
GO
ALTER TABLE [dbo].[SUBJECT_FACULTY]  WITH NOCHECK ADD  CONSTRAINT [FK_SUBJECT_FACULTY_SUBJECT_MASTER] FOREIGN KEY([SUBF_SUBJET_ID])
REFERENCES [dbo].[SUBJECT_MASTER] ([SUBM_ID])
GO
ALTER TABLE [dbo].[SUBJECT_FACULTY] NOCHECK CONSTRAINT [FK_SUBJECT_FACULTY_SUBJECT_MASTER]
GO
ALTER TABLE [dbo].[SUBJECT_MASTER]  WITH NOCHECK ADD  CONSTRAINT [FK_SUBJECT_MASTER_BRANCH_MASTER] FOREIGN KEY([SUBM_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[SUBJECT_MASTER] NOCHECK CONSTRAINT [FK_SUBJECT_MASTER_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[SUBJECT_MASTER]  WITH NOCHECK ADD  CONSTRAINT [FK_SUBJECT_MASTER_STANDARD] FOREIGN KEY([SUBM_STANDARD_ID])
REFERENCES [dbo].[STANDARD] ([STD_ID])
GO
ALTER TABLE [dbo].[SUBJECT_MASTER] NOCHECK CONSTRAINT [FK_SUBJECT_MASTER_STANDARD]
GO
ALTER TABLE [dbo].[TEST_MASTER]  WITH NOCHECK ADD  CONSTRAINT [FK_TEST_MASTER_STANDARD] FOREIGN KEY([TEST_STANDARD_ID])
REFERENCES [dbo].[STANDARD] ([STD_ID])
GO
ALTER TABLE [dbo].[TEST_MASTER] NOCHECK CONSTRAINT [FK_TEST_MASTER_STANDARD]
GO
ALTER TABLE [dbo].[TEST_SUBJECTS]  WITH NOCHECK ADD  CONSTRAINT [FK_TEST_SUBJECTS_BRANCH_MASTER] FOREIGN KEY([TSUB_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[TEST_SUBJECTS] NOCHECK CONSTRAINT [FK_TEST_SUBJECTS_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[TEST_SUBJECTS]  WITH NOCHECK ADD  CONSTRAINT [FK_TEST_SUBJECTS_SUBJECT_MASTER] FOREIGN KEY([TSUB_SUBJECT_ID])
REFERENCES [dbo].[SUBJECT_MASTER] ([SUBM_ID])
GO
ALTER TABLE [dbo].[TEST_SUBJECTS] NOCHECK CONSTRAINT [FK_TEST_SUBJECTS_SUBJECT_MASTER]
GO
ALTER TABLE [dbo].[TEST_SUBJECTS]  WITH NOCHECK ADD  CONSTRAINT [FK_TEST_SUBJECTS_TEST_MASTER] FOREIGN KEY([TSUB_TEST_ID])
REFERENCES [dbo].[TEST_MASTER] ([TEST_ID])
GO
ALTER TABLE [dbo].[TEST_SUBJECTS] NOCHECK CONSTRAINT [FK_TEST_SUBJECTS_TEST_MASTER]
GO
ALTER TABLE [dbo].[TIME_TABLE]  WITH NOCHECK ADD  CONSTRAINT [FK_TIME_TABLE_BATCH] FOREIGN KEY([TMTL_BATCH_ID])
REFERENCES [dbo].[BATCH] ([BTCH_Id])
GO
ALTER TABLE [dbo].[TIME_TABLE] NOCHECK CONSTRAINT [FK_TIME_TABLE_BATCH]
GO
ALTER TABLE [dbo].[TIME_TABLE]  WITH NOCHECK ADD  CONSTRAINT [FK_TIME_TABLE_BRANCH_MASTER] FOREIGN KEY([TMTL_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[TIME_TABLE] NOCHECK CONSTRAINT [FK_TIME_TABLE_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[TIME_TABLE]  WITH NOCHECK ADD  CONSTRAINT [FK_TIME_TABLE_FACULTY] FOREIGN KEY([TMTL_FACULTY_ID])
REFERENCES [dbo].[FACULTY] ([FCLT_ID])
GO
ALTER TABLE [dbo].[TIME_TABLE] NOCHECK CONSTRAINT [FK_TIME_TABLE_FACULTY]
GO
ALTER TABLE [dbo].[TIME_TABLE]  WITH NOCHECK ADD  CONSTRAINT [FK_TIME_TABLE_STANDARD] FOREIGN KEY([TMTL_STANDARD_ID])
REFERENCES [dbo].[STANDARD] ([STD_ID])
GO
ALTER TABLE [dbo].[TIME_TABLE] NOCHECK CONSTRAINT [FK_TIME_TABLE_STANDARD]
GO
ALTER TABLE [dbo].[TIME_TABLE]  WITH NOCHECK ADD  CONSTRAINT [FK_TIME_TABLE_SUBJECT_MASTER] FOREIGN KEY([TMTL_SUBJECT_ID])
REFERENCES [dbo].[SUBJECT_MASTER] ([SUBM_ID])
GO
ALTER TABLE [dbo].[TIME_TABLE] NOCHECK CONSTRAINT [FK_TIME_TABLE_SUBJECT_MASTER]
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH NOCHECK ADD  CONSTRAINT [FK_TRANSACTION_BRANCH_MASTER] FOREIGN KEY([TRNC_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[TRANSACTION] NOCHECK CONSTRAINT [FK_TRANSACTION_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH NOCHECK ADD  CONSTRAINT [FK_TRANSACTION_EXPENSE_MASTER] FOREIGN KEY([TRNC_EXPENSE_ID])
REFERENCES [dbo].[EXPENSE_MASTER] ([EXPM_ID])
GO
ALTER TABLE [dbo].[TRANSACTION] NOCHECK CONSTRAINT [FK_TRANSACTION_EXPENSE_MASTER]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH NOCHECK ADD  CONSTRAINT [FK_USER_ROLES_BRANCH_MASTER] FOREIGN KEY([UR_BRANCH_ID])
REFERENCES [dbo].[BRANCH_MASTER] ([BRCH_ID])
GO
ALTER TABLE [dbo].[USER_ROLES] NOCHECK CONSTRAINT [FK_USER_ROLES_BRANCH_MASTER]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH NOCHECK ADD  CONSTRAINT [FK_USER_ROLES_ROLE_MASTER] FOREIGN KEY([UR_RM_ID])
REFERENCES [dbo].[ROLE_MASTER] ([RM_ID])
GO
ALTER TABLE [dbo].[USER_ROLES] NOCHECK CONSTRAINT [FK_USER_ROLES_ROLE_MASTER]
GO
/****** Object:  Trigger [dbo].[TRG_ATTD_AFTR_UPD]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_ATTD_AFTR_UPD]
ON [dbo].[ATTENDANCE]
AFTER UPDATE
AS
BEGIN
    IF NOT UPDATE(ATTD_UPDT_AT)
    BEGIN
        UPDATE dbo.ATTENDANCE
            SET ATTD_UPDT_AT  = CURRENT_TIMESTAMP 
            FROM dbo.ATTENDANCE  
            INNER JOIN inserted  
            ON ATTENDANCE.ID =inserted.ID;
    END
END









GO
ALTER TABLE [dbo].[ATTENDANCE] ENABLE TRIGGER [TRG_ATTD_AFTR_UPD]
GO
/****** Object:  Trigger [dbo].[TRG_ATTENDANCE_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_ATTENDANCE_AFTR_INSRT] 
ON [dbo].[ATTENDANCE] 
after INSERT 
AS 
  BEGIN 
  begin try
      DECLARE @newid INT 

      BEGIN 
          DECLARE @NEW_ATTD_ID INT, 
                  @BRNCH_ID    INT; 
          DECLARE curs_attd CURSOR read_only FOR 
            (SELECT id, 
                    attd_branch_id 
             FROM   inserted) 

          OPEN curs_attd 

          FETCH next FROM curs_attd INTO @NEW_ATTD_ID, @BRNCH_ID 

          WHILE @@FETCH_STATUS = 0 
            BEGIN 
                SET @newid=CONVERT(INT, CONVERT(NVARCHAR, @BRNCH_ID) 
                                        + CONVERT(NVARCHAR, @NEW_ATTD_ID)); 

                IF ( @newid IS NOT NULL ) 
                  UPDATE attendance 
                  SET    attd_id = @newid 
                  WHERE  id = @NEW_ATTD_ID 
                         AND attd_branch_id = @BRNCH_ID 

                FETCH next FROM curs_attd INTO @NEW_ATTD_ID, @BRNCH_ID 
            END 

          CLOSE curs_attd 
      END 
	  end try
	  begin catch
	  exec SP_LogError
	  end catch
  END









GO
ALTER TABLE [dbo].[ATTENDANCE] ENABLE TRIGGER [TRG_ATTENDANCE_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[trg_UpdateTimeEntry]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateTimeEntry]
ON [dbo].[ATTENDANCE]
AFTER UPDATE
AS
    UPDATE dbo.ATTENDANCE
    SET ATTD_UPDT_AT = CURRENT_TIMESTAMP
    WHERE ID IN (SELECT DISTINCT ID FROM Inserted)









GO
ALTER TABLE [dbo].[ATTENDANCE] ENABLE TRIGGER [trg_UpdateTimeEntry]
GO
/****** Object:  Trigger [dbo].[TRG_ATTENDLECTURE_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_ATTENDLECTURE_AFTR_INSRT] ON [dbo].[ATTENDANCE_LECTURE]
AFTER INSERT
AS
     BEGIN
         BEGIN TRY
             DECLARE @newid INT;
             BEGIN
                 DECLARE @NEW_ATTD_ID INT, @BRNCH_ID INT;
                 DECLARE curs_attd CURSOR READ_ONLY
                 FOR
                 (
                     SELECT id,
                            ATLC_BRANCH_ID
                     FROM inserted
                 );
                 OPEN curs_attd;
                 FETCH NEXT FROM curs_attd INTO @NEW_ATTD_ID, @BRNCH_ID;
                 WHILE @@FETCH_STATUS = 0
                     BEGIN
                         SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @BRNCH_ID) + CONVERT(NVARCHAR, @NEW_ATTD_ID));
                         IF(@newid IS NOT NULL)
                             UPDATE attendance_LECTURE
                               SET
                                   atLC_id = @newid
                             WHERE id = @NEW_ATTD_ID
                                   AND atLC_branch_id = @BRNCH_ID;
                         FETCH NEXT FROM curs_attd INTO @NEW_ATTD_ID, @BRNCH_ID;
                     END;
                 CLOSE curs_attd;
             END;
         END TRY
         BEGIN CATCH
             EXEC SP_LogError;
         END CATCH;
     END;









GO
ALTER TABLE [dbo].[ATTENDANCE_LECTURE] ENABLE TRIGGER [TRG_ATTENDLECTURE_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[insert_into_ATTENDENCE_LOG]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[insert_into_ATTENDENCE_LOG]
 on  [dbo].[ATTENDENCE_LOG]
   AFTER insert
AS 
BEGIN

          DECLARE @newid INT 
          DECLARE @id INT 
          DECLARE @branchid INT 

          SET @id=(SELECT id 
                   FROM   inserted); 
          SET @branchid=(SELECT ATL_BRANCH_ID 
                         FROM   inserted); 
          SET @newid=CONVERT(INT, CONVERT(NVARCHAR, @branchid) 
                                  + CONVERT(NVARCHAR, @id)); 

          IF ( @newid IS NOT NULL ) 
            UPDATE ATTENDENCE_LOG 
            SET    ATL_ID = @newid 
            WHERE  id = @id 
                   AND ATL_BRANCH_ID = @branchid 
 

     
END









GO
ALTER TABLE [dbo].[ATTENDENCE_LOG] ENABLE TRIGGER [insert_into_ATTENDENCE_LOG]
GO
/****** Object:  Trigger [dbo].[TRG_BATCH_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_BATCH_AFTR_INSRT]
   ON  [dbo].[BATCH]
   AFTER insert
AS 
BEGIN
	
	
	 DECLARE @newid INT 
          DECLARE @id INT 
          DECLARE @branchid INT 

          SET @id=(SELECT id 
                   FROM   inserted); 
          SET @branchid=(SELECT BTCH_BRANCH_ID
                         FROM   inserted); 
          SET @newid=CONVERT(INT, CONVERT(NVARCHAR, @branchid) 
                                  + CONVERT(NVARCHAR, @id)); 

          IF ( @newid IS NOT NULL ) 
            UPDATE BATCH 
            SET  BTCH_Id   = @newid 
            WHERE  id = @id 
                   AND BTCH_BRANCH_ID = @branchid 
 
	
	
	
END









GO
ALTER TABLE [dbo].[BATCH] ENABLE TRIGGER [TRG_BATCH_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[insert_into_BIOMERIC_MAPPING]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[insert_into_BIOMERIC_MAPPING]
   ON  [dbo].[BIOMERIC_MAPPING]
   AFTER insert
AS 
BEGIN
	
	
	 DECLARE @newid INT 
          DECLARE @id INT 
          DECLARE @branchid INT 

          SET @id=(SELECT id 
                   FROM   inserted); 
          SET @branchid=(SELECT BIOM_BRANCH_ID
                         FROM   inserted); 
          SET @newid=CONVERT(INT, CONVERT(NVARCHAR, @branchid) 
                                  + CONVERT(NVARCHAR, @id)); 

          IF ( @newid IS NOT NULL ) 
            UPDATE  BIOMERIC_MAPPING
            SET  BIOM_Id   = @newid 
            WHERE  id = @id 
                   AND BIOM_BRANCH_ID = @branchid 
 
	
	
	
END









GO
ALTER TABLE [dbo].[BIOMERIC_MAPPING] ENABLE TRIGGER [insert_into_BIOMERIC_MAPPING]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.CHQ_DETAIL_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[TRG_dbo.CHQ_DETAIL_AFTR_INSRT] ON [dbo].[CHEQUE_DETAILS]
AFTER INSERT
AS
     BEGIN
         DECLARE @newid INT;
         DECLARE @id INT;
         DECLARE @branchid INT;
         SET @id = ( SELECT id
                     FROM inserted
                   );
         SET @branchid = ( SELECT CHQ_BRANCH_ID
                           FROM inserted
                         );
         SET @newid = CONVERT(INT , CONVERT(NVARCHAR , @branchid) + CONVERT(NVARCHAR , @id));
         IF ( @newid IS NOT NULL )
             BEGIN
                 UPDATE CHEQUE_DETAILS
                        SET CHQ_ID = @newid
                 WHERE id = @id
                       AND
                       CHQ_BRANCH_ID = @branchid;
             END;
     END;









GO
ALTER TABLE [dbo].[CHEQUE_DETAILS] ENABLE TRIGGER [TRG_dbo.CHQ_DETAIL_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_COLLEGE_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_COLLEGE_AFTR_INSRT] ON [dbo].[COLLEGE]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT CLG_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE [COLLEGE]
		SET CLG_Id = @newid
		WHERE id = @id
			AND CLG_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[COLLEGE] ENABLE TRIGGER [TRG_COLLEGE_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_ENQUIRY_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[TRG_ENQUIRY_AFTR_INSRT] ON [dbo].[ENQUIRY]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT ENQ_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE ENQUIRY
		SET ENQ_ID = @newid
		WHERE id = @id
			AND ENQ_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[ENQUIRY] ENABLE TRIGGER [TRG_ENQUIRY_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_EXPENSE_MASTER_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_EXPENSE_MASTER_AFTR_INSRT] ON [dbo].[EXPENSE_MASTER]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT EXPM_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE EXPENSE_MASTER
		SET EXPM_ID = @newid
		WHERE id = @id
			AND EXPM_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[EXPENSE_MASTER] ENABLE TRIGGER [TRG_EXPENSE_MASTER_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[FEE_STRUCTURE_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[FEE_STRUCTURE_AFTR_INSRT] ON [dbo].[FEE_STRUCTURE]
AFTER INSERT
AS
     BEGIN
         DECLARE @newid INT;
         DECLARE @id INT;
         DECLARE @branchid INT;
         SET @id =
         (
             SELECT id
             FROM inserted
         );
         SET @branchid =
         (
             SELECT FSTR_BRANCH_ID
             FROM inserted
         );
         SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));
         IF(@newid IS NOT NULL)
             BEGIN
                 UPDATE FEE_STRUCTURE
                   SET
                       FSTR_ID = @newid
                 WHERE id = @id
                       AND FSTR_BRANCH_ID = @branchid
             END;
     END;









GO
ALTER TABLE [dbo].[FEE_STRUCTURE] ENABLE TRIGGER [FEE_STRUCTURE_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.FEES_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.FEES_AFTR_INSRT] ON [dbo].[FEES]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT FEE_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.FEES
		SET FEE_ID = @newid
		WHERE id = @id
			AND FEE_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[FEES] ENABLE TRIGGER [TRG_dbo.FEES_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.FEES_PACKAGES_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.FEES_PACKAGES_AFTR_INSRT] ON [dbo].[FEES_PACKAGES]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT FPKG_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.FEES_PACKAGES
		SET FPKG_ID = @newid
		WHERE id = @id
			AND FPKG_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[FEES_PACKAGES] ENABLE TRIGGER [TRG_dbo.FEES_PACKAGES_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_FOLLOW_UP_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_FOLLOW_UP_AFTR_INSRT] ON [dbo].[FOLLOW_UP]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT FOLU_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE FOLLOW_UP
		SET FOLU_ID = @newid
		WHERE id = @id
			AND FOLU_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[FOLLOW_UP] ENABLE TRIGGER [TRG_FOLLOW_UP_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.GLB_ACCOUNTS_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.GLB_ACCOUNTS_AFTR_INSRT] ON [dbo].[GLB_ACCOUNTS]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT ACT_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.GLB_ACCOUNTS
		SET ACT_ID = @newid
		WHERE id = @id
			AND ACT_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[GLB_ACCOUNTS] ENABLE TRIGGER [TRG_dbo.GLB_ACCOUNTS_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.HOLIDAY_MASTER_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.HOLIDAY_MASTER_AFTR_INSRT] ON [dbo].[HOLIDAY_MASTER]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT HOLM_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.HOLIDAY_MASTER
		SET HOLM_ID = @newid
		WHERE id = @id
			AND HOLM_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[HOLIDAY_MASTER] ENABLE TRIGGER [TRG_dbo.HOLIDAY_MASTER_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.INSTALLMENTS_DETAILS_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.INSTALLMENTS_DETAILS_AFTR_INSRT] ON [dbo].[INSTALLMENTS_DETAILS]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT INSD_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.INSTALLMENTS_DETAILS
		SET INSD_ID = @newid
		WHERE id = @id
			AND INSD_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[INSTALLMENTS_DETAILS] ENABLE TRIGGER [TRG_dbo.INSTALLMENTS_DETAILS_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.INVOICE_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.INVOICE_AFTR_INSRT] ON [dbo].[INVOICE]
AFTER INSERT
AS
     BEGIN
         DECLARE @newid INT;
         DECLARE @id INT;
         DECLARE @branchid INT;
         SET @id = ( SELECT id
                     FROM inserted
                   );
         SET @branchid = ( SELECT INVOICE_BRANCH_ID
                           FROM inserted
                         );
         SET @newid = CONVERT(INT , CONVERT(NVARCHAR , @branchid) + CONVERT(NVARCHAR , @id));
         IF ( @newid IS NOT NULL )
             BEGIN
                 UPDATE INVOICE
                        SET INVOICE_ID = @newid
                 WHERE id = @id
                       AND
                       INVOICE_BRANCH_ID = @branchid;
             END;
     END;



GO
ALTER TABLE [dbo].[INVOICE] ENABLE TRIGGER [TRG_dbo.INVOICE_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.INVOICE_DETAIL_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.INVOICE_DETAIL_AFTR_INSRT] ON [dbo].[INVOICE_DETAILS]
AFTER INSERT
AS
     BEGIN
         DECLARE @newid INT;
         DECLARE @id INT;
         DECLARE @branchid INT;
         SET @id = ( SELECT id
                     FROM inserted
                   );
         SET @branchid = ( SELECT INVC_BRANCH_ID
                           FROM inserted
                         );
         SET @newid = CONVERT(INT , CONVERT(NVARCHAR , @branchid) + CONVERT(NVARCHAR , @id));
         IF ( @newid IS NOT NULL )
             BEGIN
                 UPDATE INVOICE_DETAILS
                        SET INVC_ID = @newid
                 WHERE id = @id
                       AND
                       INVC_BRANCH_ID = @branchid;
             END;
     END;



GO
ALTER TABLE [dbo].[INVOICE_DETAILS] ENABLE TRIGGER [TRG_dbo.INVOICE_DETAIL_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.MARKETING_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.MARKETING_AFTR_INSRT] ON [dbo].[MARKETING]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT MKTG_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.MARKETING
		SET MKTG_ID = @newid
		WHERE id = @id
			AND MKTG_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[MARKETING] ENABLE TRIGGER [TRG_dbo.MARKETING_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.MARKS_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.MARKS_AFTR_INSRT] ON [dbo].[MARKS]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT MARK_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.MARKS
		SET MARK_ID = @newid
		WHERE id = @id
			AND MARK_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[MARKS] ENABLE TRIGGER [TRG_dbo.MARKS_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.PACKAGE_INSTALLMENT_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.PACKAGE_INSTALLMENT_AFTR_INSRT] ON [dbo].[PACKAGE_INSTALLMENT]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT PKGI_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.PACKAGE_INSTALLMENT
		SET PKGI_ID = @newid
		WHERE id = @id
			AND PKGI_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[PACKAGE_INSTALLMENT] ENABLE TRIGGER [TRG_dbo.PACKAGE_INSTALLMENT_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.PAID_EXPENSES_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.PAID_EXPENSES_AFTR_INSRT] ON [dbo].[PAID_EXPENSES]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT PDEX_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.PAID_EXPENSES
		SET PDEX_ID = @newid
		WHERE id = @id
			AND PDEX_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[PAID_EXPENSES] ENABLE TRIGGER [TRG_dbo.PAID_EXPENSES_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_ROLE_PRIVILEGES_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_ROLE_PRIVILEGES_AFTR_INSRT] ON [dbo].[ROLE_PRIVILEGES]

AFTER INSERT

as

BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	--SET @branchid = (
		--	SELECT RP_BRANCH_ID
		--	FROM inserted
			--);
	SET @newid =  CONVERT(nvarchar, @id);

	IF (@newid IS NOT NULL)
		UPDATE ROLE_PRIVILEGES
		SET RP_ID = @newid
		WHERE id = @id
			--AND RP_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[ROLE_PRIVILEGES] ENABLE TRIGGER [TRG_ROLE_PRIVILEGES_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.SMS_DETAILS_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.SMS_DETAILS_AFTR_INSRT] ON [dbo].[SMS_DETAILS]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT SMSD_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.SMS_DETAILS
		SET SMSD_ID = @newid
		WHERE id = @id
			AND SMSD_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[SMS_DETAILS] ENABLE TRIGGER [TRG_dbo.SMS_DETAILS_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.STANDARD_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.STANDARD_AFTR_INSRT] ON [dbo].[STANDARD]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT STD_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.STANDARD
		SET STD_ID = @newid
		WHERE id = @id
			AND STD_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[STANDARD] ENABLE TRIGGER [TRG_dbo.STANDARD_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.STREAM_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.STREAM_AFTR_INSRT] ON [dbo].[STREAM]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT STRM_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.STREAM
		SET STRM_ID = @newid
		WHERE id = @id
			AND STRM_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[STREAM] ENABLE TRIGGER [TRG_dbo.STREAM_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.STUDENT_ADMISSION_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.STUDENT_ADMISSION_AFTR_INSRT] ON [dbo].[STUDENT_ADMISSION]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT STAM_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.STUDENT_ADMISSION
		SET STAM_ID = @newid
		WHERE id = @id
			AND STAM_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[STUDENT_ADMISSION] ENABLE TRIGGER [TRG_dbo.STUDENT_ADMISSION_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.STUDENT_ARCHIVAL_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.STUDENT_ARCHIVAL_AFTR_INSRT] ON [dbo].[STUDENT_ARCHIVAL]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT STAC_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.STUDENT_ARCHIVAL
		SET STAC_ID  = @newid
		WHERE id = @id
			AND STAC_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[STUDENT_ARCHIVAL] ENABLE TRIGGER [TRG_dbo.STUDENT_ARCHIVAL_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.STUDENT_FACILITIES_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.STUDENT_FACILITIES_AFTR_INSRT] ON [dbo].[STUDENT_FACILITIES]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT STFL_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.STUDENT_FACILITIES
		SET STFL_ID = @newid
		WHERE id = @id
			AND STFL_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[STUDENT_FACILITIES] ENABLE TRIGGER [TRG_dbo.STUDENT_FACILITIES_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.STUDENT_FEES_DETAILS_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.STUDENT_FEES_DETAILS_AFTR_INSRT] ON [dbo].[STUDENT_FEES_DETAILS]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT STFD_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.STUDENT_FEES_DETAILS
		SET STFL_ID = @newid
		WHERE id = @id
			AND STFD_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[STUDENT_FEES_DETAILS] ENABLE TRIGGER [TRG_dbo.STUDENT_FEES_DETAILS_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.STUDENT_TEST_DETAILS_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.STUDENT_TEST_DETAILS_AFTR_INSRT] ON [dbo].[STUDENT_TEST_DETAILS]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT STTD_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.STUDENT_TEST_DETAILS
		SET STTD_ID = @newid
		WHERE id = @id
			AND STTD_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[STUDENT_TEST_DETAILS] ENABLE TRIGGER [TRG_dbo.STUDENT_TEST_DETAILS_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.SUBJECT_FACULTY_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.SUBJECT_FACULTY_AFTR_INSRT] ON [dbo].[SUBJECT_FACULTY]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT SUBF_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.SUBJECT_FACULTY
		SET SUBF_ID = @newid
		WHERE id = @id
			AND SUBF_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[SUBJECT_FACULTY] ENABLE TRIGGER [TRG_dbo.SUBJECT_FACULTY_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.SUBJECT_MASTER_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.SUBJECT_MASTER_AFTR_INSRT] ON [dbo].[SUBJECT_MASTER]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT SUBM_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.SUBJECT_MASTER
		SET SUBM_ID = @newid
		WHERE id = @id
			AND SUBM_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[SUBJECT_MASTER] ENABLE TRIGGER [TRG_dbo.SUBJECT_MASTER_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.TEST_MASTER_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.TEST_MASTER_AFTR_INSRT] ON [dbo].[TEST_MASTER]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT TEST_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.TEST_MASTER
		SET TEST_ID = @newid
		WHERE id = @id
			AND TEST_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[TEST_MASTER] ENABLE TRIGGER [TRG_dbo.TEST_MASTER_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.TEST_SUBJECTS_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.TEST_SUBJECTS_AFTR_INSRT] ON [dbo].[TEST_SUBJECTS]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT TSUB_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.TEST_SUBJECTS
		SET TSUB_ID = @newid
		WHERE id = @id
			AND TSUB_BRANCH_ID = @branchid
END








GO
ALTER TABLE [dbo].[TEST_SUBJECTS] ENABLE TRIGGER [TRG_dbo.TEST_SUBJECTS_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.TIME_TABLE_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.TIME_TABLE_AFTR_INSRT] ON [dbo].[TIME_TABLE]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT TMTL_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.TIME_TABLE
		SET TMTL_ID = @newid
		WHERE id = @id
			AND TMTL_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[TIME_TABLE] ENABLE TRIGGER [TRG_dbo.TIME_TABLE_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_TRANC_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[TRG_TRANC_AFTR_INSRT]
   ON  [dbo].[TRANSACTION]
   AFTER insert
AS 
BEGIN
	
	
	 DECLARE @newid INT 
          DECLARE @id INT 
          DECLARE @branchid INT 

          SET @id=(SELECT id 
                   FROM   inserted); 
          SET @branchid=(SELECT TRNC_BRANCH_ID
                         FROM   inserted); 
          SET @newid=CONVERT(INT, CONVERT(NVARCHAR, @branchid) 
                                  + CONVERT(NVARCHAR, @id)); 

          IF ( @newid IS NOT NULL ) 
            UPDATE [TRANSACTION] 
            SET  TRNC_ID   = @newid 
            WHERE  id = @id 
                   AND TRNC_BRANCH_ID= @branchid 
 
	
	
	
END









GO
ALTER TABLE [dbo].[TRANSACTION] ENABLE TRIGGER [TRG_TRANC_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_dbo.USER_ROLES_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_dbo.USER_ROLES_AFTR_INSRT] ON [dbo].[USER_ROLES]
AFTER INSERT
AS
BEGIN
	DECLARE @newid INT
	DECLARE @id INT
	DECLARE @branchid INT

	SET @id = (
			SELECT id
			FROM inserted
			);
	SET @branchid = (
			SELECT UR_BRANCH_ID
			FROM inserted
			);
	SET @newid = CONVERT(INT, CONVERT(NVARCHAR, @branchid) + CONVERT(NVARCHAR, @id));

	IF (@newid IS NOT NULL)
		UPDATE dbo.USER_ROLES
		SET UR_ID = @newid
		WHERE id = @id
			AND UR_BRANCH_ID = @branchid
END









GO
ALTER TABLE [dbo].[USER_ROLES] ENABLE TRIGGER [TRG_dbo.USER_ROLES_AFTR_INSRT]
GO
/****** Object:  Trigger [dbo].[TRG_USER_ROLES_AFTR_INSRT]    Script Date: 3/11/2019 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_USER_ROLES_AFTR_INSRT]
   ON  [dbo].[USER_ROLES]
   AFTER insert
AS 
BEGIN
	
	DECLARE @newid INT 
          DECLARE @id INT 
          DECLARE @branchid INT 

          SET @id=(SELECT id 
                   FROM   inserted); 
          SET @branchid=(SELECT UR_BRANCH_ID
                         FROM   inserted); 
          SET @newid=CONVERT(INT, CONVERT(NVARCHAR, @branchid) 
                                  + CONVERT(NVARCHAR, @id)); 

          IF ( @newid IS NOT NULL ) 
            UPDATE USER_ROLES 
            SET  UR_Id   = @newid 
            WHERE  id = @id 
                   AND UR_BRANCH_ID = @branchid 
 
	
	
	
END






GO
ALTER TABLE [dbo].[USER_ROLES] ENABLE TRIGGER [TRG_USER_ROLES_AFTR_INSRT]
GO
